<!DOCTYPE html>
<html lang="en">
  {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/studybud-a5c7a.appspot.com/o/styles%2Fstyle.css?alt=media&token=ab61c1b1-60d7-4969-b962-45a21c9b4195" />
    <title>TradingBud - Find trading partners around the world!</title>
  </head>

  <body>
        {% include 'navbar.html' %} 
    {% if messages %}
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor%}
   
    {% endif %}
     {% block content %} 
     {% endblock %}


     <div id="preloader"></div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://firebasestorage.googleapis.com/v0/b/studybud-a5c7a.appspot.com/o/js%2Fscript.js?alt=media&token=44ec9808-9022-4071-95a3-9f91eaf2476e"></script>
  
    </body>
</html>
